@import "tailwindcss";
@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Regular.ttf");
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Medium.ttf");
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-SemiBold.ttf");
  font-weight: 600; /* SemiBold weight */
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Bold.ttf");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Light.ttf");
  font-weight: 300; /* Light weight */
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Thin.ttf");
  font-weight: 100; /* Thin weight */
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-ExtraBold.ttf");
  font-weight: 800; /* ExtraBold weight */
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-ExtraLight.ttf");
  font-weight: 200; /* ExtraLight weight */
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Black.ttf");
  font-weight: 900; /* Black weight */
  font-style: normal;
}

body {
  font-family: "Geist", sans-serif;
}
